body{
  background: rgb(128, 128, 128);
}

head{
    background-color:black;
    position: fixed;
}

#content {
    margin-top: 100px;
  }

h1{text-align:center;
    background-color:black;
    color:white;
     margin: 0;
    padding: 0;
}

.spacer{
    width:16%;
}

.card-title{text-align:center;}

.butt{text-align:center;}

.card{
    background-color: white;
}

.row{
  display: flex;
  justify-content: center;
}

.container {
    width: 97%;
    background: #FFFFFF;
    padding: 0 5px;
}
.inputs {
    margin:10px; 
    padding: 0 5px;
    background: #F5F5F5;  
}

input[type="number"] {
    width: 30%;
    background: #F5F6FA;
    
}

.graph_div {
    margin: 0 auto;
    
}

.scroll {
    border-collapse: collapse;
}
  
.scroll tr {
    display: flex;
}
  
.scroll td {
    padding: 3px;
    flex: 1 auto;
    width: 1px;
    word-wrap: break;
}
  
.scroll thead tr:after {
    overflow-y: scroll;
    visibility: hidden;
}
  
.scroll thead th {
    flex: 1 auto;
    display: block;
    background: rgb(128, 128, 128)
}
  
.scroll tbody {
    display: block;
    width: 100%;
    overflow-y: auto;
    min-height: 300px;
    max-height: 500px;

}